---
---
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #ff5700;
$header-bg-color-secondary: #ffeecf;

// Text
$section-headings-color: #253c78;
$body-text-color: #606c71 !default;
$body-link-color: #253c78;
$blockquote-text-color: #819198 !default;

@import"{{ site.theme }}";

.page-header {
  text-align: center;
  background-color: $header-bg-color;
}

.main-content {
 
  h2,
  h3 {
   color: #253c78;
 }
 
}
