---
---
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #40798C;
$header-bg-color-secondary: #70A9A1;
@import "{{ site.theme }}";
.main-content { 
    padding-left: 80px;
    padding-right: 80px;
    max-width: auto;
    overflow-x: hidden;
    margin: auto;

}
.page-header {
  padding: 0px !important;
}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
  color: #1F363D !important;
}
.site-footer {
  display: none;
}
table {
    border: none !important;
    table-layout: fixed;
    vertical-align: top;
}

td {
    border: none !important;
    height: 600px;
    vertical-align: top !important;
}

img {
    border: 5px solid #ffffff;
    border-radius: 25px;
    width: 310px !important;
    height: 310px !important;
}

.bio{
  width: 310px;
  text-align: justify;
  text-justify: inter-word;
}
